
*{
    margin: 0;
    padding: 0;
}
/* nav bare edite */
@font-face {
    font-family: font;
    src: url(/font-arabic/JF-Flat-Regular.ttf);
}

@font-face {
    font-family: arabic;
    src: url(/font-arabic/Droid\ Sans\ Arabic.ttf);
    
}

@font-face{
    font-family: kufi;
    src: url(/font-arabic/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}
.logo{
    background-color: #000;
}
.logo h1{
    font-size: 32px;
    font-family: arabic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #ffff00;
    line-height: 35px;
    font-weight: 400;
}
nav{
    margin-bottom: 40px;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: #38333a;
    color: white;
    height: 100px;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;

}
.logo img{
    width: 100px;
    height: 100px;
    background-position: center;
}
#acc{
    color: #ffff00;
}
.why{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 310px;
}
.why li{
    margin: 0 30px;
    font-size: 18px;
    font-family: font;
    font-weight: 400;
    font-size: 18px;
}
.sub-about{
    display: none;
}
.sub-about li{
    padding: 2px;
}
ul li:hover .sub-about{
    display: block;
    position: absolute; 
    height: auto;
    z-index: 900;   
    
}

i{
    font-size: 16px;
}


/* finisiih navbar*/


.container{
    display: grid;
    grid-template-columns: auto 550px;
    grid-template-areas: "main main main"
                            "sidebare2";
    grid-column-gap: 20px;
    margin: 0 4  0px;
}

main{
    margin-right: 60px;
    border: 2px solid #e5e5e5;
    border-radius: 15px;
}
#sidebare2{
    position: relative;
    margin-left: 40px;
    display: grid;
    grid-gap:30px ;
    height: 1900px;

}

.one{
    height: 350px;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
}


.one .img{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.one i {
    color: #056493;
    font-size: 28px;
}
#two .img , #three .img{
    height: 150px;
    background-image: url(/المستجدات/img/dimoqraties.png);
    background-position: center;
    background-size: cover;
}


#two ,#three , #for , #five{
    height: 250px;
}
#for{
    background-image: url(/المستجدات/img/forget.png);
    background-position: center;
    background-repeat: no-repeat;
}

#five{
    background-image: url(/المستجدات/img/ecrit.png);
    background-position: center;
    background-size: cover;
}

#three{
    height: 250px;
}

#three .img{
    background-image: url(/المستجدات/img/mehdi.png);
    background-position: center;
    background-size: cover;
}
#fb{
    color: rgb(80, 80, 80);
    position: absolute;
    right: 440px;
}
.font-right-icon i{
    height: 29px;
    margin-top: 28px;
    margin-right: 10px;
}
.font-right-icon {
    display: flex;
    float: right;
}
.font-right-icon h1{
    margin-right: 25px;
    font-family: h1;
    font-size: 25px;
    margin-top: 18px;
}
.container .right button {
    padding: 10px 18px;
    border: none;
    border-radius: 22px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #056493;
    color: white;
    width: 180px;
    font-size: 22px;
    margin-bottom: 20px;
}
.container .right h1 , .right p{
    margin-right: 20px;
}
#bottonTwo{
    border-top: 2px solid #e5e5e5;
}
.container-center{
    margin-top: 40px;
    margin-bottom: 40px;
}

#button-center{
    margin-right: 32%;

}
@font-face {
    font-family: title;
    src: url(/DroidSans.ttf);
}
.container .right h1{
    font-family: title;
    font-size: 28px;
}
.container .right p{
    font-family: h1;
}

.container-center .center-botton button{
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #056493;
    color: white;
    width: 125px;
    margin: 0 8px;

}
a{
    text-decoration: none;
    color: white;
}
.center-botton {
    position: relative;
}
button i {
    color: white;
}

.image-title{
    height: 700px;
    border-radius: 18px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    background-image: url("/news/img/news1-large.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#img-par{
    margin-right: 110px;
}
.parag{
    margin-top: 60px;
    margin-right: 10px;
    text-align: center;
}
#bayan{
    background-image: url(/news/img/news2-large.png);
}
.container-comment{
    margin-top: 20px;
    border-radius: 18px;
    border: 1px solid #e5e5e5;
    padding: 20px;
}
input {
    width: 99%;
    padding: 12px;margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid rgb(47, 47, 47);
    outline: none;
}
#btn {
    padding: 10px 12px;
    border: none;
    border-radius: 18px;
    margin-top: 12px;
    background-color: #056493;
    color: white;
    cursor: pointer;
    width: 120px;
}


.one .img{
    clear: both;

}

@font-face {
    font-family: h1;
    src: url(/font-arabic/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}
#one .img{
    background-image: url(/المستجدات/img/BANNERCDTFB.png);
}
#one .img button{
    padding: 12px 12px;
    border: none;
    margin-top: 20px;
    background-color: #2c81ac;
    color: white;
    cursor: pointer;
    width: 120px;
    margin-top: 210px;
    margin-right: 400px;
}

#list-container {
    display: flex;
    flex-direction: column;
}
#list-container li{
    margin-left: 40px;
}
.name{
    height: 100px;
    background-color: #056493;
}

/*comment script */

.center__display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .top{
    position: relative;
    border-bottom: 1px solid #eee;
}

.top .likes__count{
    position: absolute;
    top: 0;
    left: 0;
    background: #ffadad;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.likes__count small{
    font-size: 20px;
    margin-left: 5px;
}



form{
    display: grid;
    width: 100%;
    height: 80px;
    grid-template-columns: 5% 80% 15%;
}

.form__info input{
    border: none;
    background: transparent;
    width: 70%;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
}

.form__info input::placeholder{
    color: #ddd;
}

.top .heart__icon{
    color: #ffadad;
    font-size: 30px;
    cursor: pointer;
}

.top button{
    background-color: #48cae4;
    height: 50%;
    border: none;
    outline: none;
    color: white;
    transform: translateY(50%);
    margin-right: 10px;
    cursor: pointer;
}

/* COMMENTS */
.comments__container{
    width: 800px;
    margin-top: 2rem;
}

.comment__card{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 10% auto;
    margin: 0.5rem;
    border-bottom: 1px solid #eee;
}

.comment__card .pic{
    background-color: #48cae4;
    border-radius: 50%;
    margin: 10%;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.comment__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment__info .nickname{
    color: #aaa;
}

.comment__info .comment{
    margin: 5px 0;
}

.comment__info .comment__bottom{
    display: flex;
}

.comment__bottom .heart__icon--comment{
    font-size: 20px;
    margin-right: 20px;
    color: #eee;
}

/* add with JS */

.comment__bottom button{
    border: none;
    background: transparent;
    color: #aaa;
    text-transform: uppercase;
    cursor: pointer;
}

.submit__btn{
    width: 120px;
    position: absolute;
    top: 100px;
    left: 335px;
    border-radius: 10px;
    background-color: #056493;
    color: white;
}

.top form{
    margin: 40px 0 ;
    position: relative;
}
.top form input{
    width: 440px;
}

